{% extends 'base.html' %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block content %}
	<section class="section-add-article">
	    <div class="block z-depth-1">
			<div class="row">
				<form id="login_form" method="post" action="{% url 'blog_create' %}" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="col s12">
						<label for="id_image">Обложка статьи:</label>
                        <input type="file" id="id_image" name="image" class="dropify" />
					</div>
					<div class="col s12">
						<label for="id_title" class="active">Заголовок:</label>
						{{ form.title|add_class:"input custom-input-filter" }}
					</div>
					<div class="col s12">
						<label for="id_animals" class="active">Упоминаются животные:</label>
						{{ form.animals|add_class:"multiple-select" }}
					</div>
					<div class="input-field col s12">
						{{ form.article|add_class:"materialize-textarea" }}
					</div>
					<div class="col s12 center">
						<button class="btn waves-effect waves-light z-depth-0" type="submit" style="margin-top: 1rem">Добавить статью</button>
						<a class="btn waves-effect waves-light z-depth-0" href="{% url 'blog_list' username=user.username %}" style="margin-top: 1rem">Отменить</a>
					</div>
				</form> 
			</div>
	    </div>
	</section>
{% endblock %}
