{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
	<section class="section-article-delete">
		<div class="custom-block-header z-depth-1">
			<div class="row margin-bottom-0">
				<div class="col s12">
					<h5>Удаление статьи</h5>
				</div>
			</div>
		</div>
		<div class="custom-block-body z-depth-1">
			<div class="row">
				<div class="col s12">
					<p>Вы уверены что хотите удалить статью "{{ obj.title }}"?</p>
				    <form method="post">
				        {% csrf_token %}
				        <div class="col s12 center">
				        	<a class="btn waves-effect waves-light z-depth-0" href="{% url 'blog_detail' pk=object.pk %}" style="margin-top: 1rem">Отменить</a>
				        	<input class="btn red-color waves-effect waves-light z-depth-0" type="submit" value="Удалить">
				        </div>
				    </form>
				</div>
			</div>
		</div>
	</section>
{% endblock %}