  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <!-- css -->
      <link type="text/css" rel="stylesheet" href="css/common.css"/>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <meta charset="utf-8"/>
    </head>
    <body>
      <div class="container">
        <div class="row">
          <!-- User main panel -->
          <section class="section-main-panel col s12 l4">
            <div class="block z-depth-1">
              <div class="logo">
                <a href="/"><img src="img/logo.png" class="responsive-img" alt="" width="150"></a>
              </div>
            </div>
            <div class="custom-block-header">
              <div class="autorization h">
                <div class="row margin-bottom-0">
                  <div class="col s12">
                    <ul class="tabs autorization">
                      <li class="tab col s4 offset-s1 bold z-depth-1"><a class="active" href="#login">Войти</a></li>
                      <li class="tab col s5 offset-s1 bold z-depth-1"><a href="#registration">Регистрация</a></li>
                      <div class="col s1"></div>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="custom-block-body z-depth-1">
              <div class="autorization b">
                <div class="row">
                  <div id="login" class="col s12">
                    <form action="#">
                      <div class="row">
                        <div class="input-field col s12">
                          <i for="login" class="material-icons prefix">email</i>                          
                          <input id="login" type="text" class="validate input custom-input" placeholder="Почта или логин">
                          
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <i for="password" class="material-icons prefix">lock_outline</i>
                          <input id="password" type="password" class="validate input custom-input" placeholder="Ваш пароль">
                          
                        </div>
                      </div>
                      <p>
                        <input type="checkbox" class="filled-in custom-checkbox" id="filled-in-box"/>
                        <label for="filled-in-box">Запомнить меня</label>                        
                      </p>
                      <a href="#" style="margin-left: 45px;">Восстановить пароль</a>
                      <!-- <div class="social-link center">
                      <h6>Войти с помощью</h6>                      
                        <img src="img/vk.png" alt="" class="responsive-img soc-icon">
                        <img src="img/fb.png" alt="" class="responsive-img soc-icon">
                        <img src="img/ok.png" alt="" class="responsive-img soc-icon">
                        <img src="img/gplus.png" alt="" class="responsive-img soc-icon">
                        <img src="img/mailru.png" alt="" class="responsive-img soc-icon">
                        <img src="img/ya.png" alt="" class="responsive-img soc-icon">
                      </div> -->
                      <div class="col s12 center">
                        <button class="btn waves-effect waves-light z-depth-0" type="submit" name="action">Войти на сайт</button>
                      </div>                      
                    </form>
                  </div>
                  <div id="registration" class="col s12">
                    <form action="#">
                      <div class="row">
                        <div class="input-field col s12">
                          <i for="email" class="material-icons prefix">email</i>  
                          <input id="email" type="email" class="validate input custom-input" placeholder="Почта или логин">
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <i for="password" class="material-icons prefix">lock_outline</i>  
                          <input id="password" type="password" class="validate input custom-input" placeholder="Ваш пароль">
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <i for="password" class="material-icons prefix">lock_outline</i>
                          <input id="password" type="password" class="validate input custom-input" placeholder="Повторите пароль">
                        </div>
                      </div>
                      <!-- <div class="social-link center">
                      <h6>Регистрация через</h6>
                        <img src="img/vk.png" alt="" class="responsive-img soc-icon">
                        <img src="img/fb.png" alt="" class="responsive-img soc-icon">
                        <img src="img/ok.png" alt="" class="responsive-img soc-icon">
                        <img src="img/gplus.png" alt="" class="responsive-img soc-icon">
                        <img src="img/mailru.png" alt="" class="responsive-img soc-icon">
                        <img src="img/ya.png" alt="" class="responsive-img soc-icon">                        
                      </div> -->
                      <div class="col s12 center">
                        <button class="btn waves-effect waves-light z-depth-0" type="submit" name="action">Регистрация</button>
                      </div>                      
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- // User main panel -->
          <!-- Search blog -->
          <section class="section-search-blog col s12 l8">
            <div class="custom-block z-depth-1">
              <div class="row margin-bottom-0">
                <div class="col s12">
                  <div class="row">
                    <div class="input-field col s12 m10">
                      <input type="text" id="autocomplete-input" class="autocomplete custom-input" placeholder="Поиск статей">
                    </div>
                    <div class="col s12 m2">
                      <button class="btn waves-effect waves-light z-depth-0 col s12" type="submit" name="action">Поиск</button>
                    </div> 
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- // Search blog -->
          <!-- Most popular blog -->
          <section class="section-most-popular-blog col s12 l8">
            <div class="custom-block-header z-depth-1">
              <div class="row margin-bottom-0">
                <div class="col s12 header-block clearfix padding-0" id="navbtns">
                  <div class="col s9 m10">
                    <h5>Популярные записи в блогах</h5>
                  </div>
                  <div class="col s3 m2 right-align">
                    <a href="#" class="previous"><i class="small material-icons">keyboard_arrow_left</i></a>
                    <a href="#" class="next"><i class="small material-icons">keyboard_arrow_right</i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="custom-block-body">
              <div class="row margin-bottom-0">    
                <div class="crsl-items" data-navigation="navbtns">
                  <div class="crsl-wrap">
                    <div class="crsl-item z-depth-1">
                      <div class="thumbnail">
                        <a href="article.html"><img src="img/thumb01.jpg" alt="" class="responsive-img"></a>
                      </div>
                      <h5><a href="article.html">Lorem Ipsum Dolor Sit</a></h5>
                    </div><!-- post #1 -->
                    
                    <div class="crsl-item z-depth-1">
                      <div class="thumbnail">
                        <a href="#"><img src="img/thumb02.jpg" alt="" class="responsive-img"></a>
                      </div>                      
                      <h5><a href="#">A Look Back over A.K.A Cartoon</a></h5>                      
                    </div><!-- post #2 -->
                    
                    <div class="crsl-item z-depth-1">
                      <div class="thumbnail">
                        <a href="#"><img src="img/thumb03.jpg" alt="" class="responsive-img"></a>
                      </div>                      
                      <h5><a href="#">Watercoloring for Beginners</a></h5>                      
                    </div><!-- post #3 -->
                    
                    <div class="crsl-item z-depth-1">
                      <div class="thumbnail">
                        <a href="#"><img src="img/thumb04.jpg" alt="" class="responsive-img"></a>
                      </div>                      
                      <h5><a href="#">Classic iPods are Back!</a></h5>                      
                    </div><!-- post #4 -->
                    
                    <div class="crsl-item z-depth-1">
                      <div class="thumbnail">
                        <a href="#"><img src="img/thumb05.jpg" alt="" class="responsive-img"></a>
                      </div>                      
                      <h5><a href="#">The 10 Best Web Design Magazines</a></h5>                      
                    </div><!-- post #5 -->
                  </div><!-- @end .crsl-wrap -->
                </div><!-- @end .crsl-items -->
              </div>
            </div>
          </section>
          <!-- // Most popular blog -->
          <!-- Found article -->
          <section class="section-found-article col s12 l8">
            <div class="custom-block-header z-depth-1">
              <div class="row margin-bottom-0">
                <div class="col s12">
                  <h5>Моя собака - хороша</h5>
                </div>
              </div>
            </div>
            <div class="custom-block-body z-depth-1">
              <div class="row">
                <div class="col s12 m2">
                  <a href="user-page.html"><img src="img/photo/3.jpg" alt="" class="responsive-img circle"></a>
                  <span class="bold">Николай</span>
                  <p class="bold">15.06.2017 18:08</p>
                </div>
                <div class="col s12 m10">
                  <p>Не следует, однако забывать, что укрепление и развитие структуры в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям. Равным образом постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. Равным образом дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки модели развития. Таким образом укрепление и развитие структуры способствует подготовки и реализации форм развития. Повседневная практика показывает, что укрепление и развитие структуры позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач.</p>
                  <div class="col s12 center">
                    <a class="btn waves-effect waves-light z-depth-0" href="article.html">Читать</a>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- // Found article -->
          <!-- Found article -->
          <section class="section-found-article col s12 l8 offset-l4">
            <div class="custom-block-header z-depth-1">
              <div class="row margin-bottom-0">
                <div class="col s12">
                  <h5>Верный друг</h5>
                </div>
              </div>
            </div>
            <div class="custom-block-body z-depth-1">
              <div class="row">
                <div class="col s12 m2">
                  <a href="user-page.html"><img src="img/photo/16.jpg" alt="" class="responsive-img circle"></a>
                  <span class="bold">Олег</span>
                  <p class="bold">12.06.2017 15:28</p>
                </div>
                <div class="col s12 m10">
                  <p>Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки дальнейших направлений развития. Задача организации, в особенности же новая модель организационной деятельности в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. С другой стороны постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке дальнейших направлений развития.</p>
                  <div class="col s12 center">
                    <a class="btn waves-effect waves-light z-depth-0" href="article.html">Читать</a>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- // Found article -->
        </div>     
      </div>
    </body>
    <footer>
      <div class="container">
        <div class="row">
        <div class="block">
          <!-- User main panel footer -->
          <div class="main-footer col s12 m3 l3 xl2">
            <div class="logo">
              <a href="/"><img src="img/logo.png" class="responsive-img" alt="" width="100"></a>
            </div>
            <div class="col s12">
              <ul>
                <li><a href="#login">Авторизоваться</a></li>
                <li><a href="#registration">Зарегистрироваться</a></li>
                <li><a href="#">Восстановить пароль</a></li>
              </ul>
            </div>
          </div>
          <!-- // User main panel footer -->
          <!-- Menu link -->
          <div class="menu-link col s12 m3 l3 xl3"> 
            <h5>О проекте</h5>         
            <div class="col s12">
              <ul>              
                <li><a href="#">Оферта</a></li>
                <li><a href="#">Помощь</a></li>
                <li><a href="#">Пользовательское соглашение</a></li>
                <li><a href="#">FAQ</a></li>
              </ul>
            </div>
          </div>
          <!-- // Menu link -->
          <!-- Query popular -->
          <div class="query-popular col s12 m6 l6 xl4">
            <h5>Популярные запросы</h5>              
            <div class="query-popular-1 col s6">              
              <ul>
                <li><a href="#">Первая ссылка</a></li>
                <li><a href="#">Вторая ссылка</a></li>
                <li><a href="#">Третья ссылка</a></li>
                <li><a href="#">Четвертая ссылка</a></li>
                <li><a href="#">Пятая ссылка</a></li>
                <li><a href="#">Шестая ссылка</a></li>
              </ul>
            </div>
            <div class="query-popular-2 col s6">
              <ul>
                <li><a href="#">Первая ссылка</a></li>
                <li><a href="#">Вторая ссылка</a></li>
                <li><a href="#">Третья ссылка</a></li>
                <li><a href="#">Четвертая ссылка</a></li>
                <li><a href="#">Пятая ссылка</a></li>
                <li><a href="#">Шестая ссылка</a></li>
              </ul>
            </div>
          </div>
          <!-- // Query popular -->
          <!-- Social link -->
          <div class="social-link-footer col s12 m12 l12 xl3">
            <h5>Социальные сети</h5>
            <div class="col s12">              
              <img src="img/vk.png" alt="" class="responsive-img soc-icon">
              <img src="img/fb.png" alt="" class="responsive-img soc-icon">
              <img src="img/ok.png" alt="" class="responsive-img soc-icon">
             <!--  <img src="img/gplus.png" alt="" class="responsive-img soc-icon"> -->
              <img src="img/mailru.png" alt="" class="responsive-img soc-icon">
             <!--  <img src="img/ya.png" alt="" class="responsive-img soc-icon"> -->
            </div>
          </div>
          <!-- // Social link -->
        </div>
        </div>
        <div class="row" style="margin: 0;">
          <!-- Copyright -->
          <div class="copyright col s12">
            <span>&copy; 2017 Все права защищены.</span>
          </div>
          <!-- // Copyright -->
        </div>
      </div>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <!-- js -->
      <script type="text/javascript" src="js/common.js"></script>
      <script type="text/javascript" src="js/freewall.min.js"></script>
      <script type="text/javascript" src="js/responsiveCarousel.min.js"></script>
    </footer>
  </html>