  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <!-- css -->
      <link type="text/css" rel="stylesheet" href="css/common.css"/>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <meta charset="utf-8"/>
    </head>
    <body>
      <div class="container">
        <div class="row">
          <!-- User main panel -->
          <section class="section-main-panel col s12 l4">
            <div class="block z-depth-1">
              <div class="logo">
                <a href="/"><img src="img/logo.png" class="responsive-img" alt="" width="150"></a>
              </div>
            </div>
            <div class="custom-block-header">
              <div class="autorization h">
                <div class="row margin-bottom-0">
                  <div class="col s12">
                    <ul class="tabs autorization">
                      <li class="tab col s4 offset-s1 bold z-depth-1"><a class="active" href="#login">Войти</a></li>
                      <li class="tab col s5 offset-s1 bold z-depth-1"><a href="#registration">Регистрация</a></li>
                      <div class="col s1"></div>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="custom-block-body z-depth-1">
              <div class="autorization b">
                <div class="row">
                  <div id="login" class="col s12">
                    <form action="#">
                      <div class="row">
                        <div class="input-field col s12">
                          <i for="login" class="material-icons prefix">email</i>                          
                          <input id="login" type="text" class="validate input custom-input" placeholder="Почта или логин">
                          
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <i for="password" class="material-icons prefix">lock_outline</i>
                          <input id="password" type="password" class="validate input custom-input" placeholder="Ваш пароль">
                          
                        </div>
                      </div>
                      <p>
                        <input type="checkbox" class="filled-in custom-checkbox" id="filled-in-box"/>
                        <label for="filled-in-box">Запомнить меня</label>                        
                      </p>
                      <a href="#" style="margin-left: 45px;">Восстановить пароль</a>
                      <!-- <div class="social-link center">
                      <h6>Войти с помощью</h6>                      
                        <img src="img/vk.png" alt="" class="responsive-img soc-icon">
                        <img src="img/fb.png" alt="" class="responsive-img soc-icon">
                        <img src="img/ok.png" alt="" class="responsive-img soc-icon">
                        <img src="img/gplus.png" alt="" class="responsive-img soc-icon">
                        <img src="img/mailru.png" alt="" class="responsive-img soc-icon">
                        <img src="img/ya.png" alt="" class="responsive-img soc-icon">
                      </div> -->
                      <div class="col s12 center">
                        <button class="btn waves-effect waves-light z-depth-0" type="submit" name="action">Войти на сайт</button>
                      </div>                      
                    </form>
                  </div>
                  <div id="registration" class="col s12">
                    <form action="#">
                      <div class="row">
                        <div class="input-field col s12">
                          <i for="email" class="material-icons prefix">email</i>  
                          <input id="email" type="email" class="validate input custom-input" placeholder="Почта или логин">
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <i for="password" class="material-icons prefix">lock_outline</i>  
                          <input id="password" type="password" class="validate input custom-input" placeholder="Ваш пароль">
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <i for="password" class="material-icons prefix">lock_outline</i>
                          <input id="password" type="password" class="validate input custom-input" placeholder="Повторите пароль">
                        </div>
                      </div>
                      <!-- <div class="social-link center">
                      <h6>Регистрация через</h6>
                        <img src="img/vk.png" alt="" class="responsive-img soc-icon">
                        <img src="img/fb.png" alt="" class="responsive-img soc-icon">
                        <img src="img/ok.png" alt="" class="responsive-img soc-icon">
                        <img src="img/gplus.png" alt="" class="responsive-img soc-icon">
                        <img src="img/mailru.png" alt="" class="responsive-img soc-icon">
                        <img src="img/ya.png" alt="" class="responsive-img soc-icon">                        
                      </div> -->
                      <div class="col s12 center">
                        <button class="btn waves-effect waves-light z-depth-0" type="submit" name="action">Регистрация</button>
                      </div>                      
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- // User main panel -->
          <!-- Search filter -->
          <section class="section-filter-panel col s12 l8">
            <div class="custom-block-header">
              <div class="row margin-bottom-0">
                <div class="col s12">
                  <ul class="tabs">
                    <li class="tab col s4 l2 offset-s1 offset-l3 bold z-depth-1"><a class="active" href="#owner">Люди</a></li>
                    <div class="col l1 hide-on-small-only"></div>
                    <li class="tab col s5 l3 offset-s1 bold z-depth-1"><a href="#pet">Животные</a></li>
                    <div class="col l1 hide-on-large-only"></div>
                  </ul>
                </div>
              </div>
            </div>
            <div class="custom-block-body z-depth-1">
              <div class="row">
                <div id="owner" class="col s12">
                  <form action="search-filter.html">
                    <div class="input-field col s12 xl2">
                      <select>
                        <option value="" disabled selected>Пол</option>
                        <option value="1">Парень</option>
                        <option value="2">Девушка</option>
                      </select>
                      <label>Кто я:</label>
                    </div>
                    <div class="input-field col s12 xl3">
                      <select>
                        <option value="" disabled selected>Кого</option>
                        <option value="1">Друзей</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                      </select>
                      <label>Ищу:</label>
                    </div>
                    <div class="input-field col s12 xl3">
                      <select>
                        <option value="" disabled selected>Возраст</option>
                        <option value="1">от 14 до 18</option>
                        <option value="2">от 18 до 25</option>
                        <option value="3">от 25 до 40</option>
                        <option value="3">от 40</option>
                      </select>
                      <label>В возрасте: </label>
                    </div>
                    <div class="input-field col s12 xl4">
                      <select>
                        <option value="" disabled selected>Местоположение</option>
                        <option value="1">Рядом со мной</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                      </select>
                      <label>Откуда:</label>
                    </div>                                               
                    <div class="col s12 center">
                      <button class="btn waves-effect waves-light z-depth-0" type="submit" name="action">Найти</button>
                    </div>
                  </form>
                </div>
                <div id="pet" class="col s12">
                  <form action="search-filter.html">
                    <div class="input-field col s12 xl2">
                      <select>
                        <option value="" disabled selected>Пол</option>
                        <option value="1">Парень</option>
                        <option value="2">Девушка</option>
                      </select>
                      <label>Кто я</label>
                    </div>
                    <div class="input-field col s12 xl3">
                      <select>
                        <option value="" disabled selected>Параметр второй</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                      </select>
                    </div>
                    <div class="input-field col s12 xl3">
                      <select>
                        <option value="" disabled selected>Параметр третий</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                      </select>
                    </div>
                    <div class="input-field col s12 xl4">
                      <select>
                        <option value="" disabled selected>Параметр четвертый</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                      </select>
                    </div>                     
                    <div class="col s12 center">
                      <button class="btn waves-effect waves-light z-depth-0" type="submit" name="action">Найти</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </section>
          <!-- // Search filter -->

          <!-- Advert -->
    <!-- <section class="section-advert col l4">
            <div class="block z-depth-1 center">
              <span>Рекламный блок</span>
            </div>
          </section> -->
          <!-- // Advert -->
          <!-- Search result -->
          <section class="section-search-result col s12 xl8">
            <div class="row">
              <div class="col s6 m4 l3">
                <div class="block">
                  <a href="user-page.html"><img src="img/photo/17.jpg" class="responsive-img z-depth-1" alt="">
                  <div class="online"></div>
                  <div class="user-info">
                    <ul>
                      <li>Николай</li>
                      <li>30 лет</li>
                    </ul>
                  </div>
                  </a>
                </div>
              </div>
              <div class="col s6 m4 l3">
                <div class="block">
                  <a href="user-page.html"><img src="img/photo/5.jpg" class="responsive-img z-depth-1" alt="">
                  <div class="user-info">
                    <ul>
                      <li>Николай</li>
                      <li>30 лет</li>
                    </ul>
                  </div>
                  </a>
                </div>
              </div>
              <div class="col s6 m4 l3">
                <div class="block">
                  <a href="user-page.html"><img src="img/photo/7.jpg" class="responsive-img z-depth-1" alt="">
                  <div class="user-info">
                    <ul>
                      <li>Николай</li>
                      <li>30 лет</li>
                    </ul>
                  </div>
                  </a>
                </div>
              </div>
              <div class="col s6 m4 l3">
                <div class="block">
                  <a href="user-page.html"><img src="img/photo/8.jpg" class="responsive-img z-depth-1" alt="">
                  <div class="online"></div>
                  <div class="user-info">
                    <ul>
                      <li>Николай</li>
                      <li>30 лет</li>
                    </ul>
                  </div>
                  </a>
                </div>
              </div>
              <div class="col s6 m4 l3">
                <div class="block">
                  <a href="user-page.html"><img src="img/photo/2.jpg" class="responsive-img z-depth-1" alt="">
                  <div class="user-info">
                    <ul>
                      <li>Николай</li>
                      <li>30 лет</li>
                    </ul>
                  </div>
                  </a>
                </div>
              </div>
              <div class="col s6 m4 l3">
                <div class="block">
                  <a href="user-page.html"><img src="img/photo/19.jpg" class="responsive-img z-depth-1" alt="">
                  <div class="user-info">
                    <ul>
                      <li>Николай</li>
                      <li>30 лет</li>
                    </ul>
                  </div>
                  </a>
                </div>
              </div>
              <div class="col s6 m4 l3">
                <div class="block">
                  <a href="user-page.html"><img src="img/photo/20.jpg" class="responsive-img z-depth-1" alt="">
                  <div class="user-info">
                    <ul>
                      <li>Николай</li>
                      <li>30 лет</li>
                    </ul>
                  </div>
                  </a>
                </div>
              </div>
              <div class="col s6 m4 l3">
                <div class="block">
                  <a href="user-page.html"><img src="img/photo/26.jpg" class="responsive-img z-depth-1" alt="">
                  <div class="online"></div>
                  <div class="user-info">
                    <ul>
                      <li>Николай</li>
                      <li>30 лет</li>
                    </ul>
                  </div>
                  </a>
                </div>
              </div>
              <div class="col s6 m4 l3">
                <div class="block">
                  <a href="user-page.html"><img src="img/photo/1.jpg" class="responsive-img z-depth-1" alt="">
                  <div class="user-info">
                    <ul>
                      <li>Николай</li>
                      <li>30 лет</li>
                    </ul>
                  </div>
                  </a>
                </div>
              </div>
              <div class="col s6 m4 l3">
                <div class="block">
                  <a href="user-page.html"><img src="img/photo/3.jpg" class="responsive-img z-depth-1" alt="">
                  <div class="user-info">
                    <ul>
                      <li>Николай</li>
                      <li>30 лет</li>
                    </ul>
                  </div>
                  </a>
                </div>
              </div>
              <div class="col s6 m4 l3">
                <div class="block">
                  <a href="user-page.html"><img src="img/photo/23.jpg" class="responsive-img z-depth-1" alt="">
                  <div class="user-info">
                    <ul>
                      <li>Николай</li>
                      <li>30 лет</li>
                    </ul>
                  </div>
                  </a>
                </div>
              </div>
              <div class="col s6 m4 l3">
                <div class="block">
                  <a href="user-page.html"><img src="img/photo/6.jpg" class="responsive-img z-depth-1" alt="">
                  <div class="online"></div>
                  <div class="user-info">
                    <ul>
                      <li>Николай</li>
                      <li>30 лет</li>
                    </ul>
                  </div>
                  </a>
                </div>
              </div>
              <div class="col s6 m4 l3">
                <div class="block">
                  <a href="user-page.html"><img src="img/photo/11.jpg" class="responsive-img z-depth-1" alt="">
                  <div class="user-info">
                    <ul>
                      <li>Николай</li>
                      <li>30 лет</li>
                    </ul>
                  </div>
                  </a>
                </div>
              </div>
              <div class="col s6 m4 l3">
                <div class="block">
                  <a href="user-page.html"><img src="img/photo/12.jpg" class="responsive-img z-depth-1" alt="">
                  <div class="user-info">
                    <ul>
                      <li>Николай</li>
                      <li>30 лет</li>
                    </ul>
                  </div>
                  </a>
                </div>
              </div>
              <div class="col s6 m4 l3">
                <div class="block">
                  <a href="user-page.html"><img src="img/photo/24.jpg" class="responsive-img z-depth-1" alt="">
                  <div class="user-info">
                    <ul>
                      <li>Николай</li>
                      <li>30 лет</li>
                    </ul>
                  </div>
                  </a>
                </div>
              </div>
              <div class="col s6 m4 l3">
                <div class="block">
                  <a href="user-page.html"><img src="img/photo/21.jpg" class="responsive-img z-depth-1" alt="">
                  <div class="online"></div>
                  <div class="user-info">
                    <ul>
                      <li>Николай</li>
                      <li>30 лет</li>
                    </ul>
                  </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="col s12 center">
              <button class="btn waves-effect waves-light" type="submit" name="action">Показать еще<i class="material-icons right">cached</i></button>
            </div>
          </section>
          <!-- // Search result -->
        </div>     
      </div>
    </body>
    <footer>
      <div class="container">
        <div class="row">
        <div class="block">
          <!-- User main panel footer -->
          <div class="main-footer col s12 m3 l3 xl2">
            <div class="logo">
              <a href="/"><img src="img/logo.png" class="responsive-img" alt="" width="100"></a>
            </div>
            <div class="col s12">
              <ul>
                <li><a href="#login">Авторизоваться</a></li>
                <li><a href="#registration">Зарегистрироваться</a></li>
                <li><a href="#">Восстановить пароль</a></li>
              </ul>
            </div>
          </div>
          <!-- // User main panel footer -->
          <!-- Menu link -->
          <div class="menu-link col s12 m3 l3 xl3"> 
            <h5>О проекте</h5>         
            <div class="col s12">
              <ul>              
                <li><a href="#">Оферта</a></li>
                <li><a href="#">Помощь</a></li>
                <li><a href="#">Пользовательское соглашение</a></li>
                <li><a href="#">FAQ</a></li>
              </ul>
            </div>
          </div>
          <!-- // Menu link -->
          <!-- Query popular -->
          <div class="query-popular col s12 m6 l6 xl4">
            <h5>Популярные запросы</h5>              
            <div class="query-popular-1 col s6">              
              <ul>
                <li><a href="#">Первая ссылка</a></li>
                <li><a href="#">Вторая ссылка</a></li>
                <li><a href="#">Третья ссылка</a></li>
                <li><a href="#">Четвертая ссылка</a></li>
                <li><a href="#">Пятая ссылка</a></li>
                <li><a href="#">Шестая ссылка</a></li>
              </ul>
            </div>
            <div class="query-popular-2 col s6">
              <ul>
                <li><a href="#">Первая ссылка</a></li>
                <li><a href="#">Вторая ссылка</a></li>
                <li><a href="#">Третья ссылка</a></li>
                <li><a href="#">Четвертая ссылка</a></li>
                <li><a href="#">Пятая ссылка</a></li>
                <li><a href="#">Шестая ссылка</a></li>
              </ul>
            </div>
          </div>
          <!-- // Query popular -->
          <!-- Social link -->
          <div class="social-link-footer col s12 m12 l12 xl3">
            <h5>Социальные сети</h5>
            <div class="col s12">              
              <img src="img/vk.png" alt="" class="responsive-img soc-icon">
              <img src="img/fb.png" alt="" class="responsive-img soc-icon">
              <img src="img/ok.png" alt="" class="responsive-img soc-icon">
             <!--  <img src="img/gplus.png" alt="" class="responsive-img soc-icon"> -->
              <img src="img/mailru.png" alt="" class="responsive-img soc-icon">
             <!--  <img src="img/ya.png" alt="" class="responsive-img soc-icon"> -->
            </div>
          </div>
          <!-- // Social link -->
        </div>
        </div>
        <div class="row" style="margin: 0;">
          <!-- Copyright -->
          <div class="copyright col s12">
            <span>&copy; 2017 Все права защищены.</span>
          </div>
          <!-- // Copyright -->
        </div>
      </div>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <!-- js -->
      <script type="text/javascript" src="js/common.js"></script>
      <script type="text/javascript" src="js/freewall.min.js"></script>
      <script type="text/javascript" src="js/responsiveCarousel.min.js"></script>
    </footer>
  </html>