  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <!-- css -->
      <link type="text/css" rel="stylesheet" href="css/common.css"/>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <meta charset="utf-8"/>
    </head>
    <body>
      <div class="container">
        <div class="row">
        <div class="col s12 l4 padding-0">
          <!-- User main panel -->
          <section class="section-main-panel col s12">
            <div class="block z-depth-1">
              <div class="logo">
                <a href="/"><img src="img/logo.png" class="responsive-img" alt="" width="150"></a>
              </div>
            </div>
            <div class="custom-block-header">
              <div class="autorization h">
                <div class="row margin-bottom-0">
                  <div class="col s12">
                    <ul class="tabs autorization">
                      <li class="tab col s4 offset-s1 bold z-depth-1"><a class="active" href="#login">Войти</a></li>
                      <li class="tab col s5 offset-s1 bold z-depth-1"><a href="#registration">Регистрация</a></li>
                      <div class="col s1"></div>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="custom-block-body z-depth-1">
              <div class="autorization b">
                <div class="row">
                  <div id="login" class="col s12">
                    <form action="#">
                      <div class="row">
                        <div class="input-field col s12">
                          <i for="login" class="material-icons prefix">email</i>                          
                          <input id="login" type="text" class="validate input custom-input" placeholder="Почта или логин">
                          
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <i for="password" class="material-icons prefix">lock_outline</i>
                          <input id="password" type="password" class="validate input custom-input" placeholder="Ваш пароль">
                          
                        </div>
                      </div>
                      <p>
                        <input type="checkbox" class="filled-in custom-checkbox" id="filled-in-box"/>
                        <label for="filled-in-box">Запомнить меня</label>                        
                      </p>
                      <a href="#" style="margin-left: 45px;">Восстановить пароль</a>
                      <!-- <div class="social-link center">
                      <h6>Войти с помощью</h6>                      
                        <img src="img/vk.png" alt="" class="responsive-img soc-icon">
                        <img src="img/fb.png" alt="" class="responsive-img soc-icon">
                        <img src="img/ok.png" alt="" class="responsive-img soc-icon">
                        <img src="img/gplus.png" alt="" class="responsive-img soc-icon">
                        <img src="img/mailru.png" alt="" class="responsive-img soc-icon">
                        <img src="img/ya.png" alt="" class="responsive-img soc-icon">
                      </div> -->
                      <div class="col s12 center">
                        <button class="btn waves-effect waves-light z-depth-0" type="submit" name="action">Войти на сайт</button>
                      </div>                      
                    </form>
                  </div>
                  <div id="registration" class="col s12">
                    <form action="#">
                      <div class="row">
                        <div class="input-field col s12">
                          <i for="email" class="material-icons prefix">email</i>  
                          <input id="email" type="email" class="validate input custom-input" placeholder="Почта или логин">
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <i for="password" class="material-icons prefix">lock_outline</i>  
                          <input id="password" type="password" class="validate input custom-input" placeholder="Ваш пароль">
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <i for="password" class="material-icons prefix">lock_outline</i>
                          <input id="password" type="password" class="validate input custom-input" placeholder="Повторите пароль">
                        </div>
                      </div>
                      <!-- <div class="social-link center">
                      <h6>Регистрация через</h6>
                        <img src="img/vk.png" alt="" class="responsive-img soc-icon">
                        <img src="img/fb.png" alt="" class="responsive-img soc-icon">
                        <img src="img/ok.png" alt="" class="responsive-img soc-icon">
                        <img src="img/gplus.png" alt="" class="responsive-img soc-icon">
                        <img src="img/mailru.png" alt="" class="responsive-img soc-icon">
                        <img src="img/ya.png" alt="" class="responsive-img soc-icon">                        
                      </div> -->
                      <div class="col s12 center">
                        <button class="btn waves-effect waves-light z-depth-0" type="submit" name="action">Регистрация</button>
                      </div>                      
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- // User main panel -->
          <!-- My pets -->
          <section class="section-my-pets col s12 hide-on-med-and-down">
            <div class="custom-block-header z-depth-1">
              <div class="row margin-bottom-0">
                <div class="col s12">
                  <h5>Мои питомцы</h5>
                </div>
              </div>
            </div>
            <div class="custom-block-body">
              <div class="row margin-bottom-0">
                <div class="pets col s4 center">
                  <a href="animal-page.html" class="tooltipped" data-position="top" data-delay="10" data-tooltip="Цепеш"><img src="img/photo/animals/11.jpg" alt="" class="responsive-img circle z-depth-1"></a>
                </div>
                <div class="pets col s4 center">
                  <a href="animal-page.html" class="tooltipped" data-position="top" data-delay="10" data-tooltip="Сема"><img src="img/photo/animals/12.jpg" alt="" class="responsive-img circle z-depth-1"></a>
                </div>
                <div class="pets col s4 center">
                  <a href="animal-page.html" class="tooltipped" data-position="top" data-delay="10" data-tooltip="Лиля"><img src="img/photo/animals/16.jpg" alt="" class="responsive-img circle z-depth-1"></a>
                </div>
              </div>
            </div>
          </section>
          <!-- // My pets -->
        </div>
          <!-- User profile -->
          <section class="section-user-profile col s12 l8">
            <div class="block z-depth-1">
              <div class="row margin-bottom-0">
                <div class="col s5 m4">                                
                  <div class="user-main-photo">
                    <img src="img/photo/3.jpg" alt="" class="responsive-img">
                  </div>                                                        
                </div>
                <div class="col s12 m8">
                  <div class="user-main-info">
                    <h5>Николай</h5>
                    <span>30 лет, Екатеринбург</span>
                    <span class="spanclass">Контактная информация</span>
                    <table>
                      <thead>
                        <tr>
                          <td></td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><span>Телефон:</span></td>
                          <td><span>8-800-000-0000</span></td>
                        </tr>
                        <tr>
                          <td><span>Skype:</span></td>
                          <td>echo_test</td>
                        </tr>
                        <tr>
                          <td><span>Соц. сети:</span></td>
                          <td>vk.com/id1</td>
                        </tr>
                        <tr>
                          <td><span>Работа:</span></td>
                          <td>УВЗ</td>
                        </tr>
                      </tbody>
                    </table>                                    
                    <div class="online bold">Online</div>
                  </div>
                </div>
                <div class="col s12 center">
                  <a class="btn waves-effect waves-light z-depth-0" href="messages.html">Написать сообщение</a>
                </div>            
              </div>
            </div>
          </section>
          <!-- // User profile -->
          <!-- User photo -->
          <section class="section-user-photo col s12 l8">
            <div class="block z-depth-1">
              <div class="row margin-bottom-0">
                <div class="user-photo-carousel">
                  <div class="navbtns-1 col s12" id="navbtns-1">
                    <a href="#" class="previous left"><i class="medium material-icons">keyboard_arrow_left</i></a>
                    <a href="#" class="next right"><i class="medium material-icons">keyboard_arrow_right</i></a>
                  </div>   
                  <div class="crsl-items-1" data-navigation="navbtns-1">
                    <div class="crsl-wrap center">
                      <div class="crsl-item">
                        <div class="thumbnail">
                          <img src="img/photo/1.jpg" alt="" class="responsive-img">
                        </div>
                      </div>
                      
                      <div class="crsl-item">
                        <div class="thumbnail">
                          <img src="img/photo/2.jpg" alt="" class="responsive-img">
                        </div>                                          
                      </div>
                      
                      <div class="crsl-item">
                        <div class="thumbnail">
                          <img src="img/photo/3.jpg" alt="" class="responsive-img">
                        </div>                                           
                      </div>
                      
                      <div class="crsl-item">
                        <div class="thumbnail">
                          <img src="img/photo/4.jpg" alt="" class="responsive-img">
                        </div>                                           
                      </div>
                      
                      <div class="crsl-item">
                        <div class="thumbnail">
                          <img src="img/photo/5.jpg" alt="" class="responsive-img">
                        </div>                                            
                      </div>
                    </div>
                  </div>
                </div>               
              </div>
            </div>
          </section>
          <!-- // User photo -->
          <!-- User about -->
          <section class="section-user-about col s12 l8">
            <div class="custom-block-header z-depth-1">
              <div class="row margin-bottom-0">
                <div class="col l12">
                  <h5>Обо мне</h5>
                </div>
              </div>
            </div>
            <div class="custom-block-body z-depth-1">
              <div class="row">
                <div class="col s12">
                  <h5>Я хочу</h5>
                  <span>Найти новых друзей</span>
                  <h5>Интересы</h5>
                  <a href="search-filter.html">Прогулки с животными</a>,
                  <a href="search-filter.html">Друзья</a>,
                  <a href="search-filter.html">Вечеринки</a>,
                  <a href="search-filter.html">Семья</a>
                  <h5>Личная информация</h5>
                  <span>Не курю, люблю выпить с друзьями, занимаюсь спортом.</span>
                  <h5>Языки</h5>
                  <span>Русский, английский</span>
                </div>
              </div>
            </div>
          </section>
          <!-- // User about -->
          <!-- My pets -->
          <section class="section-my-pets col s12 hide-on-large-only">
            <div class="custom-block-header z-depth-1">
              <div class="row margin-bottom-0">
                <div class="col s12">
                  <h5>Мои питомцы</h5>
                </div>
              </div>
            </div>
            <div class="custom-block-body z-depth-1">
              <div class="row margin-bottom-0">
                <div class="pets col s4 center bold">
                  <a href="animal-page.html"><img src="img/photo/animals/11.jpg" alt="" class="responsive-img circle">
                    <ul>
                      <li>Цепеш</li>
                    </ul>
                  </a>
                </div>
                <div class="pets col s4 center bold">
                  <a href="animal-page.html"><img src="img/photo/animals/12.jpg" alt="" class="responsive-img circle">
                    <ul>
                      <li>Сема</li>
                    </ul>
                  </a>
                </div>
                <div class="pets col s4 center bold">
                  <a href="animal-page.html"><img src="img/photo/animals/16.jpg" alt="" class="responsive-img circle">
                    <ul>
                      <li>Лиля</li>
                    </ul>
                  </a>
                </div>
              </div>
            </div>
          </section>
          <!-- // My pets -->
          <!-- User last article -->
          <section class="section-user-last-article col s12 l8 offset-l4">
            <div class="custom-block-header z-depth-1">
              <div class="row margin-bottom-0">
                <div class="col s12 header-block clearfix padding-0" id="navbtns">
                  <div class="col s9 m10">
                    <h5>Последние записи</h5>
                  </div>
                  <div class="col s3 m2 right-align">
                    <a href="#" class="previous"><i class="small material-icons">keyboard_arrow_left</i></a>
                    <a href="#" class="next"><i class="small material-icons">keyboard_arrow_right</i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="custom-block-body">
              <div class="row margin-bottom-0">    
                <div class="crsl-items" data-navigation="navbtns">
                  <div class="crsl-wrap">
                    <div class="crsl-item z-depth-1">
                      <div class="thumbnail">
                        <a href="article.html"><img src="img/thumb01.jpg" alt="" class="responsive-img"></a>
                      </div>
                      <h5><a href="article.html">Lorem Ipsum Dolor Sit</a></h5>
                    </div><!-- post #1 -->
                    
                    <div class="crsl-item z-depth-1">
                      <div class="thumbnail">
                        <a href="#"><img src="img/thumb02.jpg" alt="" class="responsive-img"></a>
                      </div>                      
                      <h5><a href="#">A Look Back over A.K.A Cartoon</a></h5>                      
                    </div><!-- post #2 -->
                    
                    <div class="crsl-item z-depth-1">
                      <div class="thumbnail">
                        <a href="#"><img src="img/thumb03.jpg" alt="" class="responsive-img"></a>
                      </div>                      
                      <h5><a href="#">Watercoloring for Beginners</a></h5>                      
                    </div><!-- post #3 -->
                    
                    <div class="crsl-item z-depth-1">
                      <div class="thumbnail">
                        <a href="#"><img src="img/thumb04.jpg" alt="" class="responsive-img"></a>
                      </div>                      
                      <h5><a href="#">Classic iPods are Back!</a></h5>                      
                    </div><!-- post #4 -->
                    
                    <div class="crsl-item z-depth-1">
                      <div class="thumbnail">
                        <a href="#"><img src="img/thumb05.jpg" alt="" class="responsive-img"></a>
                      </div>                      
                      <h5><a href="#">The 10 Best Web Design Magazines</a></h5>                      
                    </div><!-- post #5 -->
                  </div><!-- @end .crsl-wrap -->
                </div><!-- @end .crsl-items -->
              </div>
            </div>
          </section>
          <!-- // User last article -->
          <!-- Similar profiles -->
          <section class="section-similar-profiles col s12 l8 offset-l4">
            <div class="custom-block-header z-depth-1">
              <div class="row margin-bottom-0">
                <div class="col l12">
                  <h5>Похожие анкеты</h5>
                </div>
              </div>
            </div>
            <div class="custom-block-body z-depth-1">
              <div class="row margin-bottom-0">
                <img src="img/photo/2.jpg" alt="" class="col s4 m2">
                <img src="img/photo/3.jpg" alt="" class="col s4 m2">
                <img src="img/photo/4.jpg" alt="" class="col s4 m2">
                <img src="img/photo/5.jpg" alt="" class="col s4 m2">
                <img src="img/photo/6.jpg" alt="" class="col s4 m2">
                <img src="img/photo/7.jpg" alt="" class="col s4 m2">
                <img src="img/photo/9.jpg" alt="" class="col s4 m2">
                <img src="img/photo/10.jpg" alt="" class="col s4 m2">
                <img src="img/photo/11.jpg" alt="" class="col s4 m2">
                <img src="img/photo/12.jpg" alt="" class="col s4 m2">
                <img src="img/photo/13.jpg" alt="" class="col s4 m2">
                <img src="img/photo/14.jpg" alt="" class="col s4 m2">
              </div>  
            </div>
          </section>
          <!-- // Last article -->
          <!-- Statistic -->
          <section class="section-user-statistic col s12 l8 offset-l4">
            <div class="custom-block-header z-depth-1">
              <div class="row margin-bottom-0">
                <div class="col s12">
                  <h5>Статистика</h5>
                </div>
              </div>
            </div>
            <div class="custom-block-body z-depth-1">
              <div class="row margin-bottom-0">
                <div class="col s12">
                  <span>ID: 1747994105, просмотров за месяц: 221</span>
                </div>
              </div>
            </div>
          </section>
          <!-- // Statistic -->
        </div>     
      </div>
    </body>
    <footer>
      <div class="container">
        <div class="row">
        <div class="block">
          <!-- User main panel footer -->
          <div class="main-footer col s12 m3 l3 xl2">
            <div class="logo">
              <a href="/"><img src="img/logo.png" class="responsive-img" alt="" width="100"></a>
            </div>
            <div class="col s12">
              <ul>
                <li><a href="#login">Авторизоваться</a></li>
                <li><a href="#registration">Зарегистрироваться</a></li>
                <li><a href="#">Восстановить пароль</a></li>
              </ul>
            </div>
          </div>
          <!-- // User main panel footer -->
          <!-- Menu link -->
          <div class="menu-link col s12 m3 l3 xl3"> 
            <h5>О проекте</h5>         
            <div class="col s12">
              <ul>              
                <li><a href="#">Оферта</a></li>
                <li><a href="#">Помощь</a></li>
                <li><a href="#">Пользовательское соглашение</a></li>
                <li><a href="#">FAQ</a></li>
              </ul>
            </div>
          </div>
          <!-- // Menu link -->
          <!-- Query popular -->
          <div class="query-popular col s12 m6 l6 xl4">
            <h5>Популярные запросы</h5>              
            <div class="query-popular-1 col s6">              
              <ul>
                <li><a href="#">Первая ссылка</a></li>
                <li><a href="#">Вторая ссылка</a></li>
                <li><a href="#">Третья ссылка</a></li>
                <li><a href="#">Четвертая ссылка</a></li>
                <li><a href="#">Пятая ссылка</a></li>
                <li><a href="#">Шестая ссылка</a></li>
              </ul>
            </div>
            <div class="query-popular-2 col s6">
              <ul>
                <li><a href="#">Первая ссылка</a></li>
                <li><a href="#">Вторая ссылка</a></li>
                <li><a href="#">Третья ссылка</a></li>
                <li><a href="#">Четвертая ссылка</a></li>
                <li><a href="#">Пятая ссылка</a></li>
                <li><a href="#">Шестая ссылка</a></li>
              </ul>
            </div>
          </div>
          <!-- // Query popular -->
          <!-- Social link -->
          <div class="social-link-footer col s12 m12 l12 xl3">
            <h5>Социальные сети</h5>
            <div class="col s12">              
              <img src="img/vk.png" alt="" class="responsive-img soc-icon">
              <img src="img/fb.png" alt="" class="responsive-img soc-icon">
              <img src="img/ok.png" alt="" class="responsive-img soc-icon">
             <!--  <img src="img/gplus.png" alt="" class="responsive-img soc-icon"> -->
              <img src="img/mailru.png" alt="" class="responsive-img soc-icon">
             <!--  <img src="img/ya.png" alt="" class="responsive-img soc-icon"> -->
            </div>
          </div>
          <!-- // Social link -->
        </div>
        </div>
        <div class="row" style="margin: 0;">
          <!-- Copyright -->
          <div class="copyright col s12">
            <span>&copy; 2017 Все права защищены.</span>
          </div>
          <!-- // Copyright -->
        </div>
      </div>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <!-- js -->
      <script type="text/javascript" src="js/common.js"></script>
      <script type="text/javascript" src="js/freewall.min.js"></script>
      <script type="text/javascript" src="js/responsiveCarousel.min.js"></script>
    </footer>
  </html>