<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection">
    <link rel="stylesheet" href="{% static 'css/dropify.min.css' %}">
    <!-- css -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.fancybox.min.css' %}"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Фауна Мира – первый социальный сайт для знакомства владельцев животных.">
    <meta name="keywords" content="Фауна Мира, знакомства, животные, социальный сайт">
    <meta charset="utf-8">
    <title>{% if settitle %}{{ settitle }} | Фауна Мира{% else %}Фауна мира{% endif %}</title>
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" />
    <meta name="yandex-verification" content="f48bc72af1fd3d16" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div id="block_user" class="col s12 l4 aside">
                {% include 'include/user/user.html' %}
            </div>
            <div class="col s12 l8 content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    {% include 'include/footer.html' %}
    <a class="btn-floating btn-large scale-transition scale-out up waves-effect waves-light">
        <i class="material-icons">keyboard_arrow_up</i>
    </a>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="{% static 'js/blocks/authenticate.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.fancybox.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/zepto.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tiny-autocomplete.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dropify.min.js' %}"></script>
    <script src="{% static 'js/datepicker-ru.js' %}"></script>

    <!-- js -->
    <script type="text/javascript" src="{% static 'js/common.js' %}"></script>
    
    <script type="text/javascript" src="{% static 'js/responsiveCarousel.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/slick.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/modernizr.custom.26633.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.gridrotator.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/chat-reconnecting-websocket.min.js' %}"></script>
    
    {% block js %}{% endblock %}
</body>
</html>