{% extends 'base.html' %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block content %}
     
    <section class="section-user-password-change">
        <div class="custom-block-header z-depth-1">
            <div class="row margin-bottom-0">
                <div class="col s12">
                    <h5>Смена пароля</h5>
                </div>
            </div>
        </div>
        <div class="custom-block-body z-depth-1">
            <div class="row">
                <div class="col s12">
                    <form method="post">
                        {% csrf_token %}
                        <p>
                            <label for="id_oldpassword" class="active">Текущий пароль:</label>
                            {{ form.oldpassword|add_class:"input custom-input-filter" }}
                        </p>
                        <p>
                            <label for="id_password1" class="active">Новый пароль:</label>
                            {{ form.password1|add_class:"input custom-input-filter" }}
                        </p>
                        <p>
                            <label for="id_password2" class="active">Новый пароль (ещё раз):</label>
                            {{ form.password2|add_class:"input custom-input-filter" }}
                        </p>
                        <div class="col s12 center">
                            <input class="btn waves-effect waves-light z-depth-0" type="submit" value="Изменить пароль">
                            <a class="btn waves-effect waves-light z-depth-0" href="{% url 'user_update' username=user.username %}" style="margin-top: 1rem">Отменить</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}