{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
	 
	<section class="section-user-profile-delete-success">
		<div class="custom-block-header z-depth-1">
			<div class="row margin-bottom-0">
				<div class="col s12">
					<h5>Удаление пользователя</h5>
				</div>
			</div>
		</div>
		<div class="custom-block-body z-depth-1">
			<div class="row">
				<div class="col s12">
					<p>Успешное удаление {{ user.username }}</p>
			        <div class="col s12 center">
			        	<a class="btn waves-effect waves-light z-depth-0" href="/" style="margin-top: 1rem">На главную</a>
			        </div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}